@font-face {
    font-family: LondonTube;
    src: url(London-Tube.ttf);
}

@font-face {
    font-family: KeepCalm;
    src: url(KeepCalm-Medium.ttf);
}

.body {
	position:absolute;
    top:0px;
	width:1280px;
    left: calc(50% - 640px);
    margin-left:-50%; /* half of the width */
}

.ruler {
	position: absolute;
	left:0px;
	top:0px;
	
	height:1000px;
	width:100px;
}

.line {
      width: 418px;
      height: 100%;
}

.major-right-line {
	-ms-transform: translateX(-50%); 
    -webkit-transform: translateX(-50%); 
    transform: translateX(-50%);
}

.major-left-line {
	-ms-transform: translateX(50%); 
    -webkit-transform: translateX(50%); 
    transform: translateX(50%);
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.left {
       float: left;
}

.right {
       float: right;
}

.red {
       background: red;
}

.red-fade {
    background: -webkit-linear-gradient(left,rgba(255,255,255,0), red); /*Safari 5.1-6*/
  	background: -o-linear-gradient(right,rgba(255,255,255,0), red); /*Opera 11.1-12*/
  	background: -moz-linear-gradient(right,rgba(255,255,255,0), red); /*Fx 3.6-15*/
  	background: linear-gradient(to right, rgba(255,255,255,0), red); /*Standard*/
}

.pink {
       background: pink;
}

.pink-fade {
    background: -webkit-linear-gradient(left,rgba(255,255,255,0), pink); /*Safari 5.1-6*/
  	background: -o-linear-gradient(right,rgba(255,255,255,0), pink); /*Opera 11.1-12*/
  	background: -moz-linear-gradient(right,rgba(255,255,255,0), pink); /*Fx 3.6-15*/
  	background: linear-gradient(to right, rgba(255,255,255,0), pink); /*Standard*/
}

.orange {
       background: orange;
}

.orange-fade {
    background: -webkit-linear-gradient(left,rgba(255,255,255,0), orange); /*Safari 5.1-6*/
  	background: -o-linear-gradient(right,rgba(255,255,255,0), orange); /*Opera 11.1-12*/
  	background: -moz-linear-gradient(right,rgba(255,255,255,0), orange); /*Fx 3.6-15*/
  	background: linear-gradient(to right, rgba(255,255,255,0), orange); /*Standard*/
}

.black {
       background: black;
}

.black-fade {
    background: -webkit-linear-gradient(left,rgba(255,255,255,0), black); /*Safari 5.1-6*/
  	background: -o-linear-gradient(right,rgba(255,255,255,0), black); /*Opera 11.1-12*/
  	background: -moz-linear-gradient(right,rgba(255,255,255,0), black); /*Fx 3.6-15*/
  	background: linear-gradient(to right, rgba(255,255,255,0), black); /*Standard*/
}

.gray {
       background: gray;
}

.gray-fade {
    background: -webkit-linear-gradient(left,rgba(255,255,255,0), gray); /*Safari 5.1-6*/
  	background: -o-linear-gradient(right,rgba(255,255,255,0), gray); /*Opera 11.1-12*/
  	background: -moz-linear-gradient(right,rgba(255,255,255,0), gray); /*Fx 3.6-15*/
  	background: linear-gradient(to right, rgba(255,255,255,0), gray); /*Standard*/
}

.blue {
       background: blue;
}

.blue-fade {
    background: -webkit-linear-gradient(left,rgba(255,255,255,0), blue); /*Safari 5.1-6*/
  	background: -o-linear-gradient(right,rgba(255,255,255,0), blue); /*Opera 11.1-12*/
  	background: -moz-linear-gradient(right,rgba(255,255,255,0), blue); /*Fx 3.6-15*/
  	background: linear-gradient(to right, rgba(255,255,255,0), blue); /*Standard*/
}

.green {
       background: green;
}

.green-fade {
    background: -webkit-linear-gradient(left,rgba(255,255,255,0), green); /*Safari 5.1-6*/
  	background: -o-linear-gradient(right,rgba(255,255,255,0), green); /*Opera 11.1-12*/
  	background: -moz-linear-gradient(right,rgba(255,255,255,0), green); /*Fx 3.6-15*/
  	background: linear-gradient(to right, rgba(255,255,255,0), green); /*Standard*/
}

.gray-red-fade {
    background: -webkit-linear-gradient(gray, red); /*Safari 5.1-6*/
  	background: -o-linear-gradient(gray, red); /*Opera 11.1-12*/
  	background: -moz-linear-gradient( gray, red); /*Fx 3.6-15*/
  	background: linear-gradient( gray, red); /*Standard*/
}

.red-blue-fade {
    background: -webkit-linear-gradient( red, blue); /*Safari 5.1-6*/
  	background: -o-linear-gradient( red, blue); /*Opera 11.1-12*/
  	background: -moz-linear-gradient( red, blue); /*Fx 3.6-15*/
  	background: linear-gradient( red, blue); /*Standard*/
}

.white {
	background: white;
}

.full-circle {
	width: 50px;
	height: 50px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}

.mid-circle {
	    width: 25px;
	    height: 25px;
	    -moz-border-radius: 12.5px;
	    -webkit-border-radius: 12.5px;
	    border-radius: 12.5px;
}

.vertical-center {
		position: relative;
  	    top: 50%;
  	    -webkit-transform: translateY(-50%);
  	    -ms-transform: translateY(-50%);
  	    transform: translateY(-50%);
}

div{
	position: relative;
	font-family: KeepCalm;
	font-size: 92.5%;
}

.ruler-rectangle {
	   width: 100%;
	   height: 2px;
	   margin-bottom:100px;
}

.rectangle {
	   width: 12.5px;
	   height: calc(100% + 20px);
	   -webkit-transform: translateY(-10px);
	   -ms-transform: translateY(-10px);
	   transform: translateY(-10px);
	   
	   position: absolute;
	   margin-left: auto;
	   margin-right: auto;
	   left: 0;
       right: 0;
	   top:0px;
	   
	   z-index: -1;
}

.dotted-rectangle {
	   width: 0px;
	   border-right: 12.5px dotted;
	   height: calc(100% + 20px);
	   -webkit-transform: translateY(-10px);
	   -ms-transform: translateY(-10px);
	   transform: translateY(-10px);
	   
	   position: absolute;
	   margin-left: auto;
	   margin-right: auto;
	   left: 0;
       right: 0;
	   top:0px;
	   
	   z-index: -1;
}

.right-line {
	left: 25px;
}

.left-line {
	right: 25px;
}

.text {
	     padding: 5px;
}

.ruler-rotated {
    -ms-transform: translateY(-5px) translateX(25px) rotate(45deg);  
    -webkit-transform: translateY(-5px) translateX(25px) rotate(45deg); 
    transform: translateY(-5px) translateX(25px) rotate(45deg); 
}

.rotated {
    -ms-transform: translateY(95px) translateX(15px) rotate(45deg);  
    -webkit-transform: translateY(95px) translateX(15px) rotate(45deg); 
    transform: translateY(95px) translateX(15px) rotate(45deg); 

    width: calc(50% + 40px);
}

.rotated-up {
    -ms-transform: translateY(95px) translateX(15px) rotate(45deg);  
    -webkit-transform: translateY(-75px) translateX(-190px) rotate(45deg); 
    transform: translateY(95px) translateX(15px) rotate(45deg); 

    width: calc(50% + 40px);
}

.rotated-junction {
    -ms-transform: translateY(85px) translateX(20px) rotate(45deg);  
    -webkit-transform: translateY(85px) translateX(20px) rotate(45deg); 
    transform: translateY(85px) translateX(20px) rotate(45deg); 

    width: calc(50% + 40px);
}

.rotated-left {
    -ms-transform: translateY(85px) translateX(-40%) rotate(-45deg);  
    -webkit-transform: translateY(85px) translateX(-40%) rotate(-45deg); 
    transform: translateY(85px) translateX(-40%) rotate(-45deg); 
    height: 12.5px;
    width: calc(1.414 * 50%);
    
    z-index: -2;
}

.rotated-left-up-solid {
    -ms-transform: translateY(85px) translateX(-40%) rotate(-45deg);  
    -webkit-transform: translateY(-100px) translateX(-40%) rotate(45deg); 
    transform: translateY(85px) translateX(-40%) rotate(-45deg); 
    height: 12.5px;
    width: calc(1.414 * 50%);
    
    z-index: -2;
}

.rotated-right {
    -ms-transform: translateY(85px) translateX(40%) rotate(45deg);  
    -webkit-transform: translateY(85px) translateX(40%) rotate(45deg); 
    transform:  translateY(85px) translateX(40%) rotate(45deg); 
    height: 12.5px;
    width: calc(1.414 * 50%);

    z-index: -2;
}

.rotated-left-up {
	-ms-transform: translateY(-145px) translateX(-39%) rotate(45deg);  
    -webkit-transform: translateY(-145px) translateX(-39%) rotate(45deg); 
    transform:  translateY(-145px) translateX(-39%) rotate(45deg);
    height: 12.5px;
    width: calc(2 * 50%);
    
    z-index: -2;
}

.rotated-left-down {
	-ms-transform:  translateY(130px) translateX(-39%) rotate(-45deg);   
    -webkit-transform: translateY(130px) translateX(-39%) rotate(-45deg); 
    transform:   translateY(130px) translateX(-39%) rotate(-45deg); 
    height: 12.5px;
    width: calc(2 * 50%);
    
	z-index: -2;
}

.rotated-right-up {
	-ms-transform: translateY(-145px) translateX(39%) rotate(135deg);   
    -webkit-transform: translateY(-145px) translateX(39%) rotate(135deg); 
    transform:  translateY(-145px) translateX(39%) rotate(135deg);
    height: 12.5px;
    width: calc(2 * 50%);
    
    z-index: -2;
}

.rotated-right-down {
	-ms-transform:  translateY(130px) translateX(39%) rotate(225deg);  
    -webkit-transform: translateY(130px) translateX(39%) rotate(225deg); 
    transform:  translateY(130px) translateX(39%) rotate(225deg);
    height: 12.5px;
    width: calc(2 * 50%);
    
    z-index: -2;
}
