.panel {
	position: relative;
	height: 100%;
	float:left;
	max-width: 20%;
	-webkit-transition: max-width 1s;
	-moz-transition: max-width 1s;
	-o-transition: max-width 1s;
	-ms-transition: max-width 1s;
	transition: max-width 1s;
}

.clock {
	position: absolute;
	padding: 0px;
	height:100px;
	width: 100%;
	margin: 0px;
	zoom: 1.0; 
	transform: scale(.54);
	-ms-transform: scale(.54);
	-webkit-transform: scale(.54); 
	-o-transform: scale(.54); 
	-moz-transform: scale(.54);
}

.ironman {
	background: rgb(204, 41, 21);
}

@-webkit-keyframes mymove {
    0%   {width: 50px;}
    50%  {width: 500px;}
    100% {width: 50px;}
}

.hulk {
	background: rgb(53, 115, 18);
}

.avengers {
	background: rgb(28, 33, 36);
}

.captain {
	background: rgb(49, 84, 179);
}

.thor {
	background: rgb(200, 162, 42);
}

.all {
	width: -webkit-intrinsic;
}

body {
	margin: 0px;
	overflow: hidden;
}

img {
	width: 100%;

	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
	transform: translateY(-50%);
}