html, body {
  margin: 0px;
  padding: 0px;
}

.Block
{
  transition: 0.2s all;

  background-color: #eee;
  position: absolute;
  float: left;
}

.Block:hover
{
  background-color: red;
  cursor: pointer;
}