@font-face {
    font-family: avengers;
    src: url(avengers.ttf);
}

@font-face {
    font-family: comic;
    src: url(comic.otf);
}

body {
	overflow: hidden;
}

audio {
	position: absolute;
	z-index: -1;
}

div {
	font-family: comic;
	font-size: 105%;
}

.panel {
	position: relative;
	height: 100%;
	float:left;
	max-width: 20%;
	-webkit-transition: max-width 1s;
	-moz-transition: max-width 1s;
	-o-transition: max-width 1s;
	-ms-transition: max-width 1s;
	transition: max-width 1s;
}

.clock {
	position: absolute;
	top: 85%;
	width: 100%;
	opacity: 0;
	color: white;
	text-align: center;
	z-index: 1;
}

.movies {
	top: 0%;
	text-align: left;
	height: 65%;
}

.next {
	top: 78%;
	text-align: center;
}

p {
	margin-left: 20px;	
	margin-right: 20px;	
	margin-top: 10px;
}

.title {
	float: left;
}

.subtitle {
	color: rgb(192, 192, 192);
	font-size: 85%;
	float: left;
}

.year {
	color: rgb(192, 192, 192);
	font-size: 85%;
	float: right;
}

.ironman {
	background: rgb(204, 41, 21);
}

@-webkit-keyframes mymove {
    0%   {width: 50px;}
    50%  {width: 500px;}
    100% {width: 50px;}
}

.hulk {
	background: rgb(53, 115, 18);
}

.avengers {
	background: rgb(28, 33, 36);
}

.captain {
	background: rgb(49, 84, 179);
}

.thor {
	background: rgb(200, 162, 42);
}

.all {
	width: -webkit-intrinsic;
}

body {
	margin: 0px;
	overflow: hidden;
}

img {
	width: 100%;

	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

#thor-img {
	width: 75%;
	 display: block;
	margin-left: auto;
	margin-right: auto;		
}