@font-face {
    font-family: Raleway-Med;
    src: url(Raleway-Medium.ttf);
}

@font-face {
    font-family: Raleway-Light;
    src: url(Raleway-Light.ttf);
}

body{
	background-color: purple;
	margin: 0px;
	padding: 0px;
}

.container{
	position: absolute;
	width: 44%;
	padding-bottom: 44%;
	margin: 2%;
	
	transition: all 0.25s;

	overflow: hidden;
}

.box{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: orange;
	
}

.green{
	background-color: green;
}

.blue{
	background-color: blue;
}

.white{
	background-color: white;
}

.yellow{
	background-color: yellow;
}

.gray{
	background-color: gray;
}

.extra-wide{
	width: 92%;
	padding-bottom: 44%;
}

.extra-tall{
	width: 44%;
	padding-bottom:92%;
}

.footer-filler{
	position: absolute;
	width: 100%;
	padding-bottom: 2%;
}

.exit{
	position: fixed;
	left: 80%;
	top: 0%;
	width: 20%;
	padding-bottom: 20%;
	background-color: red;
	z-index: 2;
	opacity: 0;
	
	transition: opacity 0.1s linear 0.25s;
}

.text-holder{
	color: white;
	padding: 5px;
	font-size: 2em;
	font-family: Raleway-Med;
}

h1{
	padding: 0px;
	margin: 20px;
}

hr{
	height:2px;
	border-width:0;
	background-color:white;
}