body{
	background-color: purple;
	margin: 2%;
}

.box{
	position: relative;
	float: left;
	width: 46%;
	padding-bottom: 46%;
	background-color: orange;
	margin: 2%;
}

.box:nth-child(2){
	background-color: green;
}

.box:nth-child(4){
	background-color: blue;
}

.box:nth-child(5){
	background-color: white;
}

.box:nth-child(6){
	background-color: yellow;
}

.box:nth-child(8){
	background-color: gray;
}

.extra-wide{
	width: 96%;
	padding-bottom: 46%;
}

.extra-tall{
	width: 46%;
	padding-bottom: 96%;
}