@font-face {
    font-family: Raleway;
    src: url('Raleway-Light.ttf') format('truetype');
}

@font-face {
    font-family: Raleway-Med;
    src: url('Raleway-Medium.ttf') format('truetype');
}

body, html {
    background-color: #FFF;
    margin: 0px;
    padding: 0px;   
    color: white;
    font-family: Raleway;
    overflow: scroll;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
    margin: 0px;
    padding: 0px;
}

.circle {
	border-radius: 50%;
	width: 200px;
	height: 200px; 
    top: 0px;
    left: 0px;
    position: absolute;
    opacity: 0;
    z-index: 0;
    background-color: gray;
    
    -webkit-transition: opacity 2s;
    -m-transition: opacity 2s;
    -moz-transition: opacity 2s;
    -o-transition: opacity 2s;
    transition: opacity 2s;
    
    -o-box-shadow: 0px 0px 10px #000;
    -moz-box-shadow: 0px 0px 10px #000;
    -webkit-box-shadow: 0px 0px 10px #000;
    -m-box-shadow: 0px 0px 10px #000;
    box-shadow: 0px 0px 10px #000;
}

span {
    margin: 5px;
    padding: 0px;
}

.fake-header {
    position: relative;
    width: 100%;
    height: 0px;
}

.header {
    position: fixed;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    -m-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    
    width: 100%;
    z-index:1000;
    
    margin: 0px;
    padding: 10px 0px;
    padding-bottom: 0px;
    

    -webkit-transition: background-color 1s, -webkit-box-shadow 1s;
    -m-transition: background-color 1s, -m-box-shadow 1s;
    -moz-transition: background-color 1s, -moz-box-shadow 1s;
    -o-transition: background-color 1s, -o-box-shadow 1s;
    transition: background-color 1s, box-shadow 1s;
}

.header-shadow{
    background-color: white;

    -o-box-shadow: 0px 0px 5px #888;
    -moz-box-shadow: 0px 0px 5px #888;
    -webkit-box-shadow: 0px 0px 5px #888;
    -m-box-shadow: 0px 0px 5px #888;
    box-shadow: 0px 0px 5px #888;
}

.hamburger {
    position: absolute;
    right: 0px;
    top: 0px;
    
    height: 100%;
    background-color: white;
    
    -webkit-transition: opacity 0.25s, background-color 0.25s;
    -m-transition: opacity 0.25s, background-color 0.25s;
    -moz-transition: opacity 0.25s, background-color 0.25s;
    -o-transition: opacity 0.25s, background-color 0.25s;
    transition: opacity 0.25s, background-color 0.25s;
}

.no-div {
    height: 0px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

.no-div2 {
    position: absolute;
    z-index: -10;
    height: 0;
    overflow: hidden;
}

.patty {
    background-color: #888;
    width: 60%;
    height: 0px;
    margin: 22.5% 20%;
}

.dropdown {
    position: absolute;
    right: 0px;
    top: 100%;
    width: 100%;
    height: 0px;
    background-color: white;
    z-index: 20;
    overflow: hidden;
    
    -webkit-transition: height 0.25s;
    -m-transition: height 0.25s;
    -moz-transition: height 0.25s;
    -o-transition: height 0.25s;
    transition: height 0.25s;
}

.droptab {
    position: relative;
    width: 75%;
    margin: 0px 12.5%;
    padding-bottom: 20px;
    padding-top: 20px;
    border-top: 1px solid #888;
    float: left;
    color: #888;
    text-align: center;
    overflow: hidden;
}

.droptab-large {
    font-size: 40px;
    padding-bottom: 40px;
    padding-top: 40px;
}

.tab {
    position: relative;
    padding: 5px 0px;
    padding-bottom: 3px;
    margin: 0px 0px;
    color: #888;
    display: inline-block;
    width: 20%;
    text-align: center;
    cursor: pointer; 
    cursor: hand;
    
    -webkit-transition: background-color 0.5s, color 0.5s;
    -m-transition: background-color 0.5s, color 0.5s;
    -moz-transition: background-color 0.5s, color 0.5s;
    -o-transition: background-color 0.5s, color 0.5s;
    transition: background-color 0.5s, color 0.5s;
}

.description {
    width: 100%;
    color: #888;
    text-align: center;
    font-size: 40px;
    margin-top: 6px;
    margin-bottom: 14px;
    
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    -m-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.tabs {
    position: relative;
    margin: 0px 0px;
    padding: 0px;
    width: 100%;
    max-width: 780px;
    display: inline-block;
    opacity: 0;
    
    -webkit-transition: opacity 0.5s;
    -m-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.tabs-center {
    left: calc(50% - 390px);
}

.no-tabs {
    height: 0px;
    overflow: hidden;
}

.tab-highlight {
    'text-shadow: 0px 0px 5px yellow;
}

.tab-content {
    overflow: hidden;
    opacity: 1;
    display: inline-block;
    
    -webkit-transition: opacity 0.25s;
    -m-transition: opacity 0.25s;
    -moz-transition: opacity 0.25s;
    -o-transition: opacity 0.25s;
    transition: opacity 0.25s;
}

.tab-content-gone {
    height: 0;
}

.tab-content-center {
    position: relative;
    width: 1170px;
    left: calc(50% - 585px);
}

.tab-underline {
    position: relative;
    width: 0%;
    height: 2px;
    margin: 0px 10%;
    top: 0px;
    padding: 0px;
    background-color: #888;
    float: left;
    
    -webkit-transition: margin 0.25s, width 0.25s;
    -m-transition: margin 0.25s, width 0.25s;
    -moz-transition: margin 0.25s, width 0.25s;
    -o-transition: margin 0.25s, width 0.25s;
    transition: margin 0.25s, width 0.25s;
}

.fake-footer {
    position: relative;
    width: 100%;
    height: 100px;
    
    -webkit-transition: height 0.5s;
    -m-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -o-transition: height 0.5s;
    transition: height 0.5s;
}

.big-title {
    position: relative;
    opacity: 1;
    
    text-align: center;
    top: calc(50vh - 50px);
}

.subtitle {
    opacity: 0;
    top: calc(50vh - 100px);
    font-size: 30px;
    overflow: hidden;
    
    -webkit-transition: opacity 1s, top 1s, height 1s;
    -m-transition: opacity 1s, top 1s, height 1s;
    -moz-transition: opacity 1s, top 1s, height 1s;
    -o-transition: opacity 1s, top 1s, height 1s;
    transition: opacity 1s, top 1s, height 1s;
}

.underline {
    position: relative;
    top: calc(50vh - 50px);
    width: 0px;
}

.underline-slower {
    -webkit-transition: width 3s ease-out, top 1s;
    -m-transition: width 3s ease-out, top 1s;
    -moz-transition: width 3s ease-out, top 1s;
    -o-transition: width 3s ease-out, top 1s;
    transition: width 3s ease-out, top 1s;
}

.underline-faster {
    -webkit-transition: width 1s ease-out, top 1s;
    -m-transition: width 1s ease-out, top 1s;
    -moz-transition: width 1s ease-out, top 1s;
    -o-transition: width 1s ease-out, top 1s;
    transition: width 1s ease-out, top 1s;
}

.letter {
    opacity: 0;
    
    -webkit-transition: opacity 1s, top 1s;
    -m-transition: opacity 1s, top 1s;
    -moz-transition: opacity 1s, top 1s;
    -o-transition: opacity 1s, top 1s;
    transition: opacity 1s, top 1s;
}

h1 {
    position: relative;
    margin:20px;
    color: #888;
    font-size: 80px;
    margin-bottom: 10px;
    margin-top: 0px;
    font-weight: normal;
    font-family: Raleway;
    z-index: 1px;  
    
    text-shadow: 0px 0px 10px #777;
    
    -webkit-transition: opacity 1s, top 1s, font-size 1s;
    -m-transition: opacity 1s, top 1s, font-size 1s;
    -moz-transition: opacity 1s, top 1s, font-size 1s;
    -o-transition: opacity 1s, top 1s, font-size 1s;
    transition: opacity 1s, top 1s, font-size 1s;
}

.h1-normal {
    font-size: 40px;
}

hr {
    position: relative;
    width: calc(100% - 40px);
    z-index: 1;
    margin-top: 0px;
    border-radius: 20px;
    border-color: #999;
    height: 0px;
    
    -o-box-shadow: 0px 0px 5px #888;
    -moz-box-shadow: 0px 0px 5px #888;
    -webkit-box-shadow: 0px 0px 5px #888;
    -m-box-shadow: 0px 0px 5px #888;
    box-shadow: 0px 0px 5px #888;
    
    -webkit-transition: opacity 1s, top 1s;
    -m-transition: opacity 1s, top 1s;
    -moz-transition: opacity 1s, top 1s;
    -o-transition: opacity 1s, top 1s;
    transition: opacity 1s, top 1s;
}
 
.container {
    position: relative;
    display: inline-block;
}

.base {
    top: 100px;
    opacity: 0;
}

.pane {
    background-color: #444;
    border-radius: 10px;
    -o-box-shadow: 0px 0px 5px #888;
    -moz-box-shadow: 0px 0px 5px #888;
    -webkit-box-shadow: 0px 0px 5px #888;
    -m-box-shadow: 0px 0px 5px #888;
    box-shadow: 0px 0px 5px #888;
    margin: 20px;
    overflow: hidden;
    float: left;
    position: relative;
    z-index: 10;
    cursor: pointer; 
    cursor: hand;
    
    -webkit-transition: opacity 1s, top 1s, -webkit-box-shadow 0.25s;
    -m-transition: opacity 1s, top 1s, -m-box-shadow 0.25s;
    -moz-transition: opacity 1s, top 1s, -moz-box-shadow 0.25s;
    -o-transition: opacity 1s, top 1s, -o-box-shadow 0.25s;
    transition: opacity 1s, top 1s, box-shadow 0.25s;
}

.pane-n-fit {
    width: 350px;
    height: 250px;
    margin: 20px;
}

.pane-2-fit {
    width: calc(50vw - 40px);
    height: calc(35.7vw - 28.6px);
    margin: 20px;
}
    
.pane-1-fit {
    width: calc(100vw - 100px);
    height: calc(50vw - 50px);  
    margin: 20px 50px;
}

.pane-2-fit:hover, .pane-n-fit:hover {
    border: 1px solid yellow;
    box-shadow: 0px 0px 10px yellow;
    margin: 19px;
}

.pane-1-fit:hover {
    border: 1px solid yellow;
    box-shadow: 0px 0px 10px yellow;
    margin: 20px 49px;
}

.image {
    position: relative;
    width: 100%;
    height: calc(100% - 7vw);
    overflow: hidden;
}

.image-dyn-m {
    height: calc(100% - 6em);
}

.image-dyn {
    height: calc(100% - 6vw);
}

.image-sta {
    height: 80%;
}

.icon {
    position: relative;
    width: 100%;
    height: auto;
}

.icon-centered {
    top: -25%;
}

.icon-centered-70 {
    top: -70%;
}

.flag-center-v {
    top: -20%;
}

.label {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    padding-left: 10px;
    font-family: Raleway-Med;
    color: #888;

    -o-box-shadow: 0px -0px 5px #888;
    -moz-box-shadow: 0px -0px 5px #888;
    -webkit-box-shadow: 0px -0px 5px #888;
    -m-box-shadow: 0px -0px 5px #888;
    box-shadow: 0px -0px 5px #888;
    
    -webkit-transition: top 0.5s;
    -m-transition: top 0.5s;
    -moz-transition: top 0.5s;
    -o-transition: top 0.5s;
    transition: top 0.5s;
}

.label-portrait {
    font-size: 2em;
    padding-top: 0.75em;
}

.label-landscape {
    font-size: calc(2.5vw - 5px);
    padding-top: calc(1.25vw - 2.5px);    
}

.label-dyn {
    font-size: calc(3.5vw - 5px);
    padding-top: calc(1.75vw - 2.5px); 
}

.label-sta {
    font-size: 1.3em;
    padding-top: 0.55em;
}